{%extends 'partials/base.html' %}

{% block title%} Profile Page {% endblock%}
{% load crispy_forms_tags %}


{% block content %}
<div class="container">
    <div class="row my-4">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-info text-white">Staff Profile Page</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <span class = "h4">Staff  Information</span>
                            <hr>
                            <table class="table bg-white table-borderless">
                               
                                <tbody>
                                    <tr>
                                        <th scope="row">Name</th>
                                        <td>{{staff.username}}</td>
                                       
                                        </td>
                        
                                    </tr>
                                    <tr>
                                        <th scope="row">Email</th>
                                        <td>{{staff.email}}</td>
                                       
                                    </tr>
                                    <tr>
                                        <th scope="row">Phone</th>
                                        <td>{{staff.profile.phone}}</td>

                                    </tr>
                                    <tr>
                                        <th scope="row">Address</th>
                                        <td>{{staff.profile.address}}</td>

                                    </tr>
                                </tbody>
                            </table>
                        

                        </div>
                        <div class="col-md-4">
                            <img src="{{staff.profile.image.url}}" alt="" class="img-thumbnail ">
                        </div>
                        <br>

                        <a class="btn btn-info btn-sm" href="{% url 'dash-staff' %}">Back</a>

                    </div>
                   
                </div>
            </div>

        </div>
        
    </div>
</div>






{% endblock %}