{%extends 'partials/base.html' %}

{% block title%} Logout Page {% endblock%}
{% load crispy_forms_tags %}


{% block content %}

<div class="container">
    <div class="row mt-5">
        <div class=" col-md-6 offset-md-3 ">
            <div class="border p-3">
                <div class="alert alert-danger">
                    <h3>Logout Page</h3>
                    <hr>
                    <h4>You have logged out successfully</h4>
                </div>
                <a href="{% url 'login'%}">Login</a>
            
        </div>
    </div>
</div>
</div>

{% endblock %}