{%extends 'partials/base.html' %}

{% block title%} Password Change complete Page {% endblock%}
{% load crispy_forms_tags %}


{% block content %}

<div class="container">
    <div class="row mt-5">
        <div class=" col-md-6 offset-md-3 ">
            <div class="border p-3">
                <div class="alert alert-success">
                    <h3>Password Reset Complete Page</h3>
                    <hr>
                    <h4>You can now login with your new password</h4>
                </div>

                <a href="{% url 'login'%}">Login</a>
            
        </div>
    </div>
</div>
</div>

{% endblock %}