{%extends 'partials/base.html' %}

{% block title%} Password Reset Success Page {% endblock%}
{% load crispy_forms_tags %}


{% block content %}

<div class="container">
    <div class="row mt-5">
        <div class=" col-md-6 offset-md-3 ">
            <div class="border p-3">
                <div class="alert alert-info">
                    <h3>Password Change Successful</h3>
                    <hr>
                    <h4>An Email with password reset instructions  has been sent to the email address  you provided</h4>
                </div>
            
        </div>
    </div>
</div>
</div>

{% endblock %}